:host {
  display: block;
}

.content {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}

.chip {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: cornflowerblue;
  color: white;
  margin-left: 5px;
  font-size: 14px;
}