<p>Starting from Angular 16 there was new option added to @Input() property to define required properties</p>
<p>The signature looks like this:</p>
<p>
  <strong>{{ signature }}</strong>
</p>

<p class="mt-4">Check code example in "<strong>app/features/angular16/required-input/required-input.component.html</strong>"</p>

<app-required-input-example [someRequiredProperty]="20"></app-required-input-example>

<!-- below code will throw error because there is no required property supplied, uncomment to see -->
<!-- <app-required-input-example></app-required-input-example> -->
